body {
  text-align: center;

}

.main img{
  width: 300px;
  vertical-align: middle;
}

.main button{
  font-size: 24px;
}

.thumbnails img{
  opacity: 0.5;
  width: 50px;
}

.thumbnails img.selected{
  opacity: 1.0;
}

.title {
  font-size: xx-large;
}
